<link rel="stylesheet" href="./about.css">
<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">

<div class="about-container">
    <div class="about-info">

        <p class="title">Welcome to the Pup Fridays at SPICED Petition</p>
        <hr>
        <p>
            Fridays are already great, but what better way to make them even greater by introducing <strong>Pup Fridays at SPICED</strong>? I am petitioning to have a dog adoption organization visit the school every Friday with pups to bring joy to all students and staff.</p>
            <p>
                So what are you waiting for? Add your signature to support this movement.
            </p>

            <p>
                <strong>Let's come together to make Pup Fridays a reality.</strong>
            </p>

        <form method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button style="font-size: 18px;">Continue to Register</button>
        </form>
    </div>

</div>
