<link rel="stylesheet" href="./about.css">
<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">


<div class="about-container">
    <div class="about-info">
        <h1>Welcome to the <u>Pup Fridays at SPICED</u> Petition</h1>

        <p>
            Fridays are great as is and what better way to make them even better than to intoduce Pup Fridays at SPICED?? I'd like to petition for  Pup Fridays where an adoption organization can visit the office with pups to bring joy to all those present.
            <span>
                Studies have shown that pet ownership, or just being in the presence of a companion animal, is associated with health benefits, including improvements in mental, social, and physiologic health status.
            </span>
            <span>
                So what are you waiting for?? Add your signature to support this movement.
            </span>
            <span>
                Let's come together to make Pup Fridays at SPICED a reality.
            </span>
            </p>


        <form method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button style="font-size: 15px;">Continue to Register</button>
        </form>
    </div>

</div>
