<link rel="stylesheet" href="./cities.css">

<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">

    <h3>People from the same city who have also signed..</h3>

    <hr>
    <hr>

    {{#each citysigner}}
        <ul>
            <a href="{{ url }}" target="_blank">{{ first }} {{ last }}</a> | {{ age }}
        </ul>
    {{/each}}
