<link rel="stylesheet" href="./login.css">


{{#if error}}
<p>Error</p>
{{/if}}

<div class="login-box">

<form method="POST">
    <div class="input-container">
         <i class="fa fa-envelope icon"></i>
        <input class="input-field" type="text" name="email" value="">
    </div>

    <div class="input-container">
         <i class="fa fa-key icon"></i>
        <input class="input-field" type="password" name="pass" value="">
    </div>

    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <button>Log In</button>
</form>

</div>
