    <h1>Thanks {{first}}, for your support!</h1>

    <img src={{signature}}>


    <p class="spread">Please spread the word out to your friends</p>


    <div class ="linksigners">
        <a href="/signers">Click here to see a list of all fellow supporters</a>
    </div>

    <form method="POST">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button style="font-size: 15px;">Update Your Profile</button>
    </form>


 <!-- action="/petition/delete"  -->
<form  action = "/signature/delete" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button >Redo Your Signature</button>
</form>


<!-- DELETE ENTIRE ACCOUNT -->
<!-- 3 queries and log the person out afterwards -->
