* {
    font-family: "Cormorant Garamond", serif;
    letter-spacing: 1px;
}

html {
    height: 100%;
}

body {
    text-align: center;
    background-image: url("./images/aboutpup.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    transition: 3s ease all;
    transform: translateY(40px);
    overflow: hidden;
}

.title {
    font-size: 30px;
}

.about-container {
    text-align: center;
    width: 50%;
    height: 60%;
    transition: 3s ease;
    background-color: rgba(0, 0, 0, 0.6);
    margin: auto;
    margin-top: 20px;
    padding: 20px;
}

.about-info {
    width: 100%;
}

h1,
p {
    color: white;
    font-weight: 400;
}

p {
    font-size: 25px;
}

p span {
    display: block;
    margin-top: 10px;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    cursor: pointer;
    height: 40px;
    width: 200px;
    font-weight: bolder;
}

button:hover {
    opacity: 0.9;
}
