* {
    box-sizing: border-box;
    font-family: "Poiret One", cursive;
}

body {
    background-image: url("./images/pupkeyboard.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.login-box {
    margin-top: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    padding: 20px;
    margin-left: 329px;
    /* margin-right: 40px;  */
    width: 51%;
    height: 20%;
}

.input-container {
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
}

.input-field {
    margin-top: 10px;
    height: 30px;
    width: 200px;
    margin-right: 20px;
}

.login-button {
    text-align: center;
}

button {
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
    background-color: black;
    color: white;
    font-weight: bold;
}

p {
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    height: 15px;
    margin-bottom: 20px;
    margin-top: 5px;
}

input[type="text"],
input[type="password"] {
    font-size: 20px;
    font-weight: bold;
    /* text-align: center; */
}
