* {
    box-sizing: border-box;
    font-family: "Poiret One", cursive;
}

body {
    background-image: url("./login.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

input {
    display: block;
    margin-top: 10px;
    height: 30px;
    width: 200px;

    /* background: url("/avatar.png"no-repeatscroll7px7px);
    padding-left: 30px; */
}

button,
button:hover {
    display: block;
    opacity: 0.8;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: white;
}

.login-box {
    margin-top: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 30%;
}

p {
    color: white;
    font-size: 25px;
    font-weight: bold;
    height: 20px;
    margin-bottom: 15px;
    margin-top: 5px;
}

input[type="text"],
input[type="password"] {
    font-size: 20px;
    font-weight: bold;
}

input[type="text"] {
    background: url("./avatar.png"no-repeatscroll7px7px);
    padding-left: 30px;
}
