* {
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 1px;
}

html {
    height: 100%;
}

h1 {
    margin-bottom: 25px;
}

body {
    text-align: center;
    background-image: url("./images/registerpup.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
}

a {
    color: white;
}

.inputregister {
    background: transparent;
    border-bottom: 2px solid white;
    outline: none;
    color: white;
    width: 200px;
    -webkit-autofill: active;
    transition: background-color:white 5000s ease-in-out 0s;
}

input[type="text"], input[type="password"] {
    letter-spacing: 1px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
}


input[placeholder] {
    font-family: 'Cormorant Garamond', serif;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    height: 25px;
    width: 90px;
    margin-top: 20px;
}

button:hover {
    opacity: 0.9;
    background-color: beige;
}


/* NAV BAR */
/* .container-in-register {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid white;
    height: 50px;
}

#nav {
    width: 100%;
    float: right;
    margin: 0 0 1em 0;
    padding: 0;
    color: black;
}

.navlinks {
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
} */

.footer {
    font-size: 18px;
    margin-top: 20px;
}

.error {
    color: beige;
    font-weight: bold;
    font-size: 20px;
}

.link:hover {
    color: beige;
}
