* {
    font-family: "Cormorant Garamond", serif;
}

/* REGISTRATION PAGE */
/* body {
    height: 40%;
} */

/* PETITION PAGE */
#petition-title {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

#petition-left {
    font-size: 20px;
    width: 55%;
    padding: 25px;
}

#petition-right {
    font-size: 20px;
    width: 55%;
    margin-left: 150px;
    padding: 25px;
}

#petition-button {
    cursor: pointer;
    border: 3px solid black;
}

#petition-button:hover {
    opacity: 0.9;
    background-color: beige;
    font-weight: bold;
}

#petition-container {
    display: flex;
    height: 100px;
}

.facts-left {
    float: left;
}

.facts-right {
    float: right;
    margin-left: 100px;
}

canvas {
    border-bottom: 5px solid black;
    text-align: center;
}

canvas:hover {
    cursor: crosshair;
    background: beige;
}

#canvas {
    margin-bottom: 20px;
}

.error-msg {
    color: red;
    font-weight: bold;
}

form {
    text-align: center;
}

input {
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
    margin-right: 15px;
    margin-bottom: 20px;
    outline: none;
    color: black;
}

input[type="text"] {
    font-size: 15px;
    font-weight: bold;
    font-family: "Poiret One", cursive;
    letter-spacing: 1px;
    text-align: center;
}

button {
    text-align: center;
}

/* THANKS PAGE */
.linksigners,
.spread,
h1 {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.thankspup {
    /* text-align: center;
    /* background-image: url('thankspup.jpg'); */
    /* object-fit: fill;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.5; */
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* THANKS PAGE */
#thanks-container {
    margin-top: 160px;
}

.spread,
.link-thanks {
    font-size: 25px;
    text-decoration: none;
}

.link-thanks {
    color: black;
    font-style: italic;
    font-weight: bold;
}

.link-thanks:hover {
    text-decoration: none;
    color: blue;
}

#button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}

#button-thanks,
#logout-thanks {
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
    box-shadow: 20px 10px 50px grey;
}

#button-thanks:hover,
#logout-thanks:hover {
    opacity: 0.9;
    background-color: black;
    color: white;
    font-weight: bold;
}

#logout-thanks {
    margin-top: 20px;
}

/* EDIT PAGE */

/* SIGNERS PAGE */

#signers-list {
    float: right;
    height: 100%;
    margin-right: 150px;
}

#signer-link {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#signer-link:hover {
    color: red;
    font-weight: bold;
    font-size: 24px;
}

.signer-title {
    font-size: 32px;
    font-weight: bold;
    box-shadow: inset 0 -0.075em #ffced1, inset 0 -0.1em red,
        inset 0 -0.15em #ffced1, inset 0 -0.175em red;
}

#signer-container {
    text-align: center;
}

#signer-button {
    opacity: 0.8;
}

#signer-button:hover {
    cursor: pointer;
    opacity: 0.7;
    border: 2px solid red;
}

/* FOOTER */
footer {
    display: block;
    vertical-align: middle;
    height: 50%;
}
